/* navigation css below*/
nav {
    grid-template-rows: 1fr;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7d324b;
}

nav a:hover:not(#logo_link) {
    background-color: white;
    border-radius: 25px;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: #140107;
    font: "Playfair Display SC";
    font-size: 1.5em;
}

/* content css is below*/
main {
    grid-template-rows: 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

#content {
    display: grid;
    grid-template-columns: 1fr;
}

#summary {
    display: flex;
    justify-content: space-around;
}

#summary p {
    width: 60%;
    text-indent: 20px;
    margin: 50px;
    font-size: 15pt;
}

#thingstips {
    width: 60%;
    margin: 0 auto;
    font-size: 15pt;
}

#thingstips p h1 li{
    width: 60%;
    margin: 50px;
    text-align: center;
}

#thingstips h1{
    text-indent: 25px;
    text-align: center;
}

#thingstips hr{
    width: 100%;
}

#gym {
    margin-top: 20px;
    margin-bottom: 20px;
}

#party {
    margin-top: 20px;
    margin-bottom: 20px;
}

#pictures {
    display: flex;
    justify-content: space-around;
}

#pictures img {
    height: auto;
    width: 40%
}

body {
    margin: 0;
}

#finishtips {
    text-indent: 20px;
    width: 60%;
    margin: 0 auto;
    font-size: 15pt;
}

#finishtips p h1 li{
    width: 60%;
    margin: 50px;
    text-align: center;
}

#finishtips h1{
    text-align: center;
}

#finishtips hr{
    width: 100%;
}

#college {
    margin-top: 20px;
    margin-bottom: 20px;
}

#focus {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer css is below*/
footer {
    grid-template-rows: 1fr;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7d324b;
    height: 100px;
    margin-top: 50px;
}

footer h3 a {
    text-decoration: none;
    color: #140107;
    font: "Playfair Display SC";
    font-size: 1.15em;
    padding: 7px;
}

footer h3 a:hover {
    background-color: white;
    border-radius: 15px;
}

/*CSS that I dont know about*/

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }